<div class="container text-center pt-5">
  <h2>Detailed booking history</h2>
  <div class="row  text-center pt-3">

    <div class="col-sm-4">
      <img class=""
        src="{{data.qr}}"
        width="300px">
      <h3>Code: {{data.code}}</h3>

    </div>
    <div class="col-sm-6 p-5">
      <table class="table text-left">
        <thead>
          <tr>
            <th scope="col">Market Name</th>
            <td scope="col">{{data.name}}</td>

          </tr>
          <tr>
            <th scope="col">Market Address</th>
            <td scope="col">{{data.address}}</td>

          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Time Slots</th>
            <td>{{data.time}} ({{data.date}})</td>

          </tr>
          <tr>
            <th scope="row">Booked at</th>
            <td> {{data.created_at | date: 'HH:MM:SS O'}}<br>({{data.created_at | date: 'yyyy-MM-dd' }})</td>

          </tr>
          <!-- <tr>
            <th scope="row">Status</th>
            <td>Valid</td>

          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="col-sm-3 pt-4"><a routerLink="/display-booking" class="btn btn-secondary">Back</a></div>