<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="box">

    <mat-card-header>
      <mat-card-title><br><br><br>Login</mat-card-title>
    </mat-card-header>

    <form class="example-form">
      <mat-card-content>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email / Mobile Number" name="email" [(ngModel)]="email" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" type="password" name="password" [(ngModel)]="password" required>
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="btn-block" (click)="login()">Log me in</button>
      <br><br>
      <p routerLink="/register" routerLinkActive="active" style="
        text-align: center;
        font-size: 16px;
        padding-top: 10px;
        color: #3f3dca;
        cursor: pointer;
        margin: 0;">
        Wanna create an account? Signup</p>
      <br><br>
    </form>
  </mat-card>

</div>
