<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">COVID-19 | </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/QRscanner">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Features</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>

    </div>

  </div>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <a class="nav-item nav-link active" *ngIf="!loggedIn" mat-button routerLink="login"
        routerLinkActive="active">Login</a>
      <a class="nav-item nav-link" *ngIf="!loggedIn" mat-button routerLink="register"
        routerLinkActive="active">Signup</a>
      <a class="nav-item nav-link" *ngIf="loggedIn" mat-button href="mailto:covid19pollachi@gmail.com"
        target="_blank">Help</a>
      <a *ngIf="loggedIn" mat-button (click)="logout()">Logout</a>
    </div>

  </div>
</nav>


<!-- Toolbar
<mat-toolbar class="app-header">
  <div><a routerLink="book-marketplace" class="positronx">Covid Marketplace</a></div>
  <span class="nav-tool-items" style="color: white">
    <a *ngIf="!loggedIn" mat-button routerLink="login" routerLinkActive="active">Login</a>
    <a *ngIf="!loggedIn" mat-button routerLink="register" routerLinkActive="active">Signup</a>
    <a *ngIf="loggedIn" mat-button href="mailto:covid19pollachi@gmail.com" target="_blank">Help</a>
    <a *ngIf="loggedIn" mat-button (click)="logout()">Logout</a>
  </span>
</mat-toolbar>
<ngx-spinner bdOpacity=0.9 size="large"></ngx-spinner> -->


<router-outlet></router-outlet>
