<div *ngIf="displayQr === false" class="login-wrapper" fxLayout="row" fxLayoutAlign="center center"
  style="font-family:Montserrat, sans-serif">

  <mat-card class="box p-5"
    style="border: rgb(172, 164, 164) 2px solid;border-radius: 30px;box-shadow: 5px 10px #888888;margin-top: 6rem;margin-bottom: 6rem;width: 95%;">
    <mat-card-header>
      <mat-card-title>Book a Marketplace</mat-card-title>
    </mat-card-header>
    <br>

    <form class="example-form">
      <mat-card-content>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" name="name" [(ngModel)]="name">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput name="aadhar" placeholder="Aadhar (1234 1234 1234 1234)" [(ngModel)]="aadhar">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone (+91)" name="phno" [(ngModel)]="phno">
        </mat-form-field>

        <label class="example-full-width">
          Select Date:
          <input name="invalidMoment" [(ngModel)]="dateSelected"  [owlDateTimeTrigger]="dt3"
            [owlDateTime]="dt3" #dateTime="ngModel" class="example-full-width" (ngModelChange)="this.dateslotUpdate.next($event)">
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
        </label>

        <mat-form-field *ngIf="marketPlacesCollection" class="example-full-width">
          <mat-label>Select Marketplace</mat-label>
          <mat-select name="select" [(ngModel)]="select" (ngModelChange)="this.timeslotUpdate.next($event)">
            <mat-option *ngFor="let food of marketPlaces" [value]="food.value">
              {{food.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="marketPlacesCollection" class="example-full-width">
          <mat-label>Select Time Slot</mat-label>
          <mat-select name="select2" [(ngModel)]="select2">
            <mat-option *ngFor="let food of timeslotCollection" [value]="food.timeSlotIds">
              {{food.timeSlotRanges}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </mat-card-content>
      <br><br>

      <br>
      <button *ngIf="isLoggedIn === true" mat-stroked-button color="accent" class="btn-block"
        (click)="submit();">Submit</button>
      <br><br>

      <p routerLink="/register" routerLinkActive="active" *ngIf="isLoggedIn === false" style="
          text-align: center;
          font-size: 16px;
          padding-top: 10px;
          color: #3f3dca;
          cursor: pointer;
          margin: 0;">
        Don't have an account? Signup</p>
    </form>
  </mat-card>

</div>

<div *ngIf="displayQr === true" style="font-family:Montserrat, sans-serif;text-align: center;display: block!important;border: solid 1px black;
  margin: 30px;padding:10px">

  <img src="assets/approved.png" width="100px"><br>
  <h2>Booking Successsful!</h2>
  <br>


  <img src="{{filename}}" height="200px" width="200px">
  <p>Booking ID: <b> {{code}}</b> </p>

  <p>Screenshot the QR code for future reference.<br>
    Alternatively, find the QR codes with Booking details<br> in <a router="display-booking"><b> Booking
      </b></a> section</p>

      <div class="col-sm-3 pt-4"><a href="/book-marketplace" class="btn btn-secondary">Back</a></div>


</div>
