<div class="p-3 mt-5 text-center">

  <h2>My Profile</h2>

  <br><br>
  <div class="container p-3 text-center border border-secondary" style="border-radius: 10px;">
    <div class="row">

      <div class="col-sm-6 mt-5 mb-5">
        <img style="border: 1px solid black;border-radius: 100px;"
          src="https://miro.medium.com/fit/c/160/160/0*IczSRdpF-We-RaJp.jpg" width="200px">
        <br>

      </div>
      <div class="col p-3 mt-5 mb-5 text-left" style="width: 50%;">

        <h3>Ashwin T</h3>
        <div>Topper of the class</div>
        <div>The Gethuu man</div>
        <div>Proud of Tamilnnadu</div>
        <div>+91 9876543210</div>
        <div>ashwinthanaraj@google.com</div>





      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>
</div>
